---
---

<div>
  <p>
    Here were a couple of key points in my Magic Journey
  </p>
  <ul class="mt-5">
    <li>
      <strong>2014 - Geek & Sundry</strong>
      I started watching <a href="https://www.youtube.com/watch?v=KmouDgc9hD8&list=PLdTTdX5fd7JrT8MWdOFh1Xb_ksw9jTl7T" target="_blank">Spellslingers</a> a YouTube show about Magic the Gathering with Sean Plott.
      I didn't really understand the game but I loved the show. I watched every episode and I was hooked. I did not start playing Magic until the fall of 2018.
    </li>
    <li>
      <strong>2018 - The Commmand Zone</strong>
      I started watching <a href="https://www.youtube.com/@commandcast" target="_blank">Game Knights</a> a YouTube channel about commander in summer 2018. Through watching
      every episode I learned how to play Magic. I learned the rules and the basics of the game. When I told people this they would be surprised that I learned how to play Magic 
      from just watching the game and not from playing it and someone teaching me.
    </li>
    <li>
      <strong>2018 - My first 60-card Deck</strong>
      The deck was created by <a href="https://twitter.com/MissMariapants" target="_blank">Maria Bartholdi</a> 
      and it was a Mardu Sacrifice deck. This was my first real deck and I the sacrifrice archetype is still one of my favorites.
    </li>
    <li>
      <strong>2021 - My first powerful deck.</strong> My first real powerful deck was <a href="https://www.streamdecker.com/deck/h62ky0aO1" target="_blank"> Rakdos Midrange</a> in Modern. I built it after Modern Horizons II was released
      and it was very powerful. So powerful that one of its cards was banned, Lurrus of the Dream-Den. It was created by <a href="https://twitter.com/Aspiringspike" target="_blank">Aspiringspike</a>. 
    </li>
    <li>
      <strong>2023 - My first tournament win.</strong> I played in a Regional Championship Qualifier in Idaho and won an invite to the Regional Championship in Atlanta.
      The deck I played was also a <a href="https://www.moxfield.com/decks/cqLuKGHqiUWLFz0iRnTJoQ" target="_blank">Rakdos Midrange</a> deck but this time in Pioneer. 
    </li>
    <li>
      <strong>2023 - My first Regional Championship.</strong> In one week 14DEC23 I will be playing in the Regional Championship in Atlanta. I am very excited to play in my first big tournament.
      My plan is to bring Rakdos Sacrifice to the tournament. Current I am eyeing this version of the <a href="https://www.moxfield.com/decks/-4vIYaZPpkCE_tVinbiO0A" target="_blank"> deck</a>.
    </li>
    <li>
      <strong>Continuing forward</strong> I am very excited to continue my journey in Magic. I am looking forward to playing in more tournaments and meeting more people.
      The next RCQ season will be the Standard format and I am planning on playing <a href="https://www.mtggoldfish.com/deck/visual/6015076" target="_blank">Esper Midrange</a>. I cannot wait to keep learning and growing as a Magic player. I love 
      this game so much and having ADHD this is the only thing that has held my interest for so long! GLHF!
    </li>
  </ul>
</div>
