---
---

<div>
  <p>
    Here were a couple of key points in my Magic Journey
  </p>
  <ul class="mt-5">
    <li>
      <strong>The Commmand Zone</strong>
      I started watching <a href="https://www.youtube.com/@commandcast" target="_blank">Game Knights</a> a YouTube channel about commander in summer 2018.
    </li>
    <li>
      <strong>My first 60-card Deck</strong>
      The deck was created by <a href="https://twitter.com/MissMariapants" target="_blank">Maria Bartholdi</a> and it was a Mardu Sacrifice deck. This was my first real deck and I the sacrifrice archetype is still one of my favorites.
    </li>
    <li>
      <strong>Dark mode.</strong> Auto dark mode with a manual toggle. Hit that
      toggle button at the top of the page and see the mode change.
    </li>
    <li>
      <strong>Mobile first.</strong> Responsive and loads fast in all devices.
    </li>
    <li>
      <strong>Accessible.</strong> A well thought out semantic and accessible
      content.
    </li>
    <li>
      <strong>Perfect lighthouse score.</strong> 100 across the board.
    </li>
    <li>
      <strong>Content authoring for everyone.</strong> Author content using markdown
      (<code>.md</code>) from your code editor or directly in GitHub.
    </li>
    <li>
      <span>
        <strong>Extended markdown</strong> with 
        <a href="https://markdoc.dev">Markdoc</a>.
      </span>
      <span>
        Type-safe custom components like YouTube embed, Twitter embed (or
        anything you want really) in your markdown (<code>.md</code>) files.</span
      >
    </li>
    <li>
      Built-in <strong>RSS feed</strong> for your blog, excellent<strong>
        SEO</strong
      > and more.
    </li>
  </ul>
</div>
