---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        My Magic Blog
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-1 flex items-center justify-center gap-1"
    >
      <a
        class="unset ml-4 hover:text-text-link"
        href="https://twitter.com/MichaelCrits"
        aria-label="Dinesh on Twitter"
      >
        <i class="fa-brands fa-twitter" aria-hidden="true" title="Dinesh on Twitter"></i>
        <span>Twitter</span>
      </a>
    </div>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-8">
      Hello! This is the beginning of my Magic Blog, where I talk about my experiences 
      as an amature Magic: The Gathering player. I'm a computer science student at
      Eastern Washington University, and I've been playing Magic since 2018. I have 
      been playing competitively since June 2021 with the release of Modern Horizons 2.
</section>
